## Gjennbruk fra oppgave a

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_full = pd.read_csv("../data/compas-scores-two-years.csv")

In [3]:
df = pd.DataFrame({ 
    "sex": df_full.sex,
    "white": df_full.race == "Caucasian",
    "predicted": df_full.score_text != "Low",
    "actual": df_full.is_recid == 1,
})
display(df)

         sex  white  predicted  actual
0       Male  False      False   False
1       Male  False      False    True
2       Male  False      False    True
3       Male  False       True   False
4       Male  False      False   False
...      ...    ...        ...     ...
7209    Male  False       True   False
7210    Male  False      False   False
7211    Male  False      False   False
7212  Female  False      False   False
7213  Female  False      False    True

[7214 rows x 4 columns]

In [4]:
def get_relative_frequency(group, variable):
    group_size = len(df[group])
    filterd_group_size = len(df[variable & group])
    return filterd_group_size/group_size

# Oppgave b

In [5]:
pred = df["predicted"]
act = df["actual"]
sex = df["sex"]
race = df["white"]
print(race[0])

False

In [6]:
tP,tPm,tPw = 0,0,0
fP,fPm,fPw = 0,0,0

tN,tNm,tNw = 0,0,0
fN,fNm,fNw = 0,0,0

In [7]:
"""for i in range(7214):
    if pred[i] == True: 
        if act[i] == True:
            tP += 1
        elif act[i] == False: 
            fP += 1
    if pred[i] ==False:
        if act[i] == False:
            tN += 1
        elif act[i] == True:
            fN += 1
"""

'for i in range(7214):\n    if pred[i] == True: \n        if act[i] == True:\n            tP += 1\n        elif act[i] == False: \n            fP += 1\n    if pred[i] ==False:\n        if act[i] == False:\n            tN += 1\n        elif act[i] == True:\n            fN += 1\n'

In [8]:
for i in range(7214):
    if pred[i] == True: 
        
        if act[i] == True:
            tP += 1
            if sex[i] == "Male":
                tPm += 1
            elif race[i] == True:
                tPw += 1
                
        elif act[i] == False: 
            fP += 1
            if sex[i] == "Male":
                fPm += 1
            elif race[i] == True:
                fPw += 1
    
    if pred[i] ==False:
        
        if act[i] == False:
            tN += 1
            if sex[i] == "Male":
                tNm += 1
            elif race[i] == True:
                tNw += 1
                
        elif act[i] == True:
            fN += 1
            if sex[i] == "Male":
                fN += 1
            elif race[i] == True:
                fNw += 1

In [9]:
display(tP,tPm,tPw,tN,tNm,tNw)
print(f"Sanne positive for hele befolkningen er {tP/7214}")

2140

1821

116

2566

1973

250

Sanne positive for hele befolkningen er 0.2966454116994732

In [10]:
#Hvordan sjekker vi for alle?